* {
	background-color: grey;
}

.game-page {
	margin: 1%;
}

#game-container {
	background-color: pink;
	float: left;
	height: 97vh;
	width: 61%;
}

.game-sidebar {
 	background-color: yellow;
 	display: inline-block;
 	float: right;
 	height: 97vh;
	width: 38%;
}

table {
	margin: 0 auto;
}

td {
	background-color: #C3C3C3;
	border: 1px solid black;
	height: 50px;
	text-align: center;
	width: 50px;
}

.wall-block {
	background-color: #828282;
}

.character {
	background-image: url('media/chip.png');
	background-size: cover;
	height: 100%;
	margin: 0;
	width: 100%;
}

.key {
	background-image: url('media/keyRed.png');
	background-size: cover;
	height: 10px;
	margin: 0;
	width: 10px;
}