
/* Styles all pages within the website */

* {
	color: white;
	font-family: 'Psuedo Saudi', 'Roboto', sans-serif;
	letter-spacing: 8px;
	text-align: center;
}

@font-face {
	font-family: 'Psuedo Saudi';
	src: url('fonts/PSAUDI5.TTF') format('ttf');
}

#container {
	height: 97vh;
	margin: 1%;
	width: 98%;
}

h1 {
	margin: 0;
}

table {
	background-color: #B7B3A7;
	box-shadow: 10px 10px 15px #525252;
	float: left;
	margin: 0 5%;
}

td {
	background-image: url('media/moroccan-tile-4.jpg');
	background-size: cover;
	height: 50px;
	width: 50px;
}

/* Styles landing page */

.game-title-div {
	background-color: rgba(187, 164, 109, .5);
}

.game-title {
	font-size: 250px;
	margin: 0;
	opacity: 1;
	text-shadow: 20px 20px 20px black;
}

.start-button {
	background-image: url('media/button-carpet.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: 3px 3px 3px 1px #FBF9FC inset, -3px -3px 3px 1px #525252 inset; 
	font-size: 50px;
	height: 136px;
	width: 200px;
}

.start-button:hover {
	box-shadow: 5px 5px 10px #525252;
	font-size: 60px;
}

.landing-page-background {
	background-image: url('media/door-4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

/* Styles character page */

.character-page-background {
	background-image: url('media/moroccan-tile-6.jpg');
}

.character-title {
	background-color: rgba(139, 117, 67, .7); 
	font-size: 100px;
	margin: 0;
	padding: 3%;
	text-shadow: 5px 5px 10px #121744; 
}

.dog-button {
	background-color: #8B7543; 
	background-image: url('media/dog-2.png');
	background-size: cover;
	box-shadow: 2px 2px 2px 1px #FBF9FC inset, -2px -2px 2px 1px #525252 inset; 
	height: 200px;
	margin: 20% 10% 20% 0;
	width: 200px;
}

.dog-button:hover {
	box-shadow: 5px 5px 10px #121744;
	font-size: 60px;
}

.cat-button {
	background-color: #8B7543; 
	background-image: url('media/cat-2.png');
	background-size: cover;
	box-shadow: 2px 2px 2px 1px #FBF9FC inset, -2px -2px 2px 1px #525252 inset; 
	height: 200px;
	margin: 20% 0 20% 10%;
	width: 200px;
}

.cat-button:hover {
	box-shadow: 5px 5px 10px #121744;
	font-size: 60px;
}

.right-column {
	float: right;
	height: 70vh;
	width: 49.5%;
}

.left-column {
	float: left;
	height: 70vh;
	width: 49.5%;
}

/* Styles name entry page */

.name-page-background {
	background-image: url('media/moroccan-tile-3.jpg');
}

.name-title {
	background-color: rgba(82, 39, 38, .7); 
	font-size: 100px;
	margin: 0;
	padding: 3%;
	text-shadow: 5px 5px 10px #522726; 
}

.name-input {
	border: 2px solid #159890;
	color: #522726;
	font-size: 100px;
	height: 7%;
	margin: 10% 0 0 0;
	padding: 3% 8%;
	width: 70%;
}

.name-button {
	background-image: url('media/button-carpet-2.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: 3px 3px 3px 1px #FBF9FC inset, -3px -3px 3px 1px #525252 inset;
	display: block;
	font-size: 50px;
	height: 150px;
	margin: 5% auto;
	text-align: center;
	width: 240px;
}

.name-button:hover {
	box-shadow: 5px 5px 10px #525252;
	font-size: 60px;
}

/* Styles weapon page */

.weapon-title {
	background-color: rgba(92, 36, 19, .8); 
	font-size: 100px;
	margin: 0;
	padding: 3%;
	text-shadow: 10px 10px 10px #252E51; 
}

.weapon-page-background {
	background-image: url('media/moroccan-tile-8.jpg');
	background-repeat: repeat-x repeat-y;
}

.right-column-weapon {
	clear: both;
	float: right;
	height: 70vh;
	width: 32%;
}

.middle-column-weapon {
	display: inline-block;
	height: 70vh;
	margin: 0 auto;
	width: 32%;
}

.left-column-weapon {
	float: left;
	height: 70vh;
	margin: 0 auto;
	width: 32%;
}

.carabiner-button {
	background-color: rgba(92, 36, 19, .8);
	background-image: url('media/carabiner-2.png');
	background-size: cover;
	box-shadow: 2px 2px 2px 1px #FBF9FC inset, -2px -2px 2px 1px #525252 inset; 
	height: 80%;
	margin: 10% auto;
	width: 300px;
}

.carabiner-button:hover {
	box-shadow: 5px 5px 10px #121744;
}

.book-button {
	background-color: rgba(92, 36, 19, .8);
	background-image: url('media/book-2.png');
	background-size: cover;
	box-shadow: 2px 2px 2px 1px #FBF9FC inset, -2px -2px 2px 1px #525252 inset; 
	height: 60%;
	margin: 25% auto;
	width: 400px;
}

.book-button:hover {
	box-shadow: 5px 5px 10px #121744;
}

.fishing-pole-button {
	background-color: rgba(92, 36, 19, .8);
	background-image: url('media/fishing-pole.png');
	background-size: cover;
	box-shadow: 2px 2px 2px 1px #FBF9FC inset, -2px -2px 2px 1px #525252 inset; 
	height: 65%;
	margin: 25% auto;
	width: 400px;
}

.fishing-pole-button:hover {
	box-shadow: 5px 5px 10px #121744;
}

/* Styles dun Djinn Game page */

/* Styles header and background of dun Djinn game page */

.game-page-background {
	background-image: url('media/mosque.jpg');
	background-position: center;
}

.game-page-title {
	font-size: 50px;
	margin: 0;
}

/* Styles left-hand column within dun Djinn game page */

.game-container {
	float: left;
	height: 50vh;
	width: 60%;
}

.wall-block {
	background-image: url('media/moroccan-tile-5.jpg');
	background-size: cover;
	box-shadow: 3px 3px 3px 1px #FBF9FC inset, -3px -3px 3px 1px #525252 inset; 
}

.key-door {
	background-image: url('media/moroccan-tile-5.jpg');
	background-size: cover;
	box-shadow: 3px 3px 3px 1px #FBF9FC inset, -3px -3px 3px 1px #525252 inset; 
	content: url('media/ancient-key.png');
}

.player {
	background-image: url('media/thobe-player.png');
	background-size: cover;
	height: 100%;
	margin: 0 auto;
	width: 50%;
}

.key {
	content: url('media/ancient-key.png');
}

.lamp {
	content: url('media/genie-lamp-3.png');
}

.portal-door {
	content: url('media/portal-door.png');
}

.portal {
	background-image: url('media/portal.jpg');
	background-position: center;
	height: 50px;
	width: 50px;
}

.enemy {
	content: url('media/djinn.png');
	height: 50px;
	width: 50px;
}

/* Styles right-hand column within dun Djinn game page */

.game-sidebar {
	background-image: url('media/portal.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: -10px 10px 15px #525252;
 	display: inline-block;
 	float: right;
 	height: 488px;
 	margin: 0 5% 0 0;
	width: 33%;
}

.sidebar-div {
	background-color: #B7B3A7; 
	box-shadow: 3px 3px 3px 1px #FBF9FC inset, -3px -3px 3px 1px #525252 inset;
	font-size: 30px;
	height: 23%;
	margin: 8% auto;
	width: 95%;
}

.sidebar-sub-div {
	background-color: #B7B3A7; 
	font-size: 24px;
	height: 20%;
	margin: 0 auto;
	width: 80%;
}

.key-table {
	background-color: #B7B3A7;
	box-shadow: none;
	margin: 0 0 0 20%;
}

/* Styles win page */

.win-page-background {
	background-image: url('media/museum-ceiling.jpg');
	background-position: center;
	background-size: cover;
}

.win-title {
	color: black;
	font-family: sans-serif;
	font-size: 150px;
	margin: 0 auto;
}

/* Styles game over pages */

.game-over-title {
	background-color: black;
	font-size: 300px;
}

.game-over-background {
	background-color: black;
}

.reset-button {
	background-image: url('media/button-carpet.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: 6px 6px 6px 2px #FBF9FC inset, -6px -6px 6px 2px #525252 inset; 
	font-size: 80px;
	height: 204px;
	letter-spacing: 1px;
	width: 300px;
}

.reset-button:hover {
	box-shadow: 5px 5px 10px #525252;
	font-size: 90px;
}

